<tr>
  <td style="background:#fff;border-top:none !important;border:1px solid #dfdfdf;">
    <div style="height: 50px;text-align: center;">
      <img src="<%=APP_CONFIG["host_url"]%>/image/Inset-all-in-one.png" alt='' style="height:100%"></img>
    </div>
    <p style="color:#666666;margin:0">
        <div style="clear:both"></div>
        <div style="color:#999;font-size:12px;margin:17px 0;text-align:center;width: 50%;margin: 20px auto;">Copyright 2018 Park Point Software. All Rights Reserved. </div>
      <div style="font-size:10px;line-height:20px;margin:10px auto;text-align:center;width:100%">
        You are receiving this email notification because you have subscribed to or have been invited to use InSet CRM.<br>
        To unsubscribe please send an email to 
        <a href="mailto:support@parkpointsoftware.com" style="color:#105687;text-decoration:none" target="_blank">support@parkpointsoftware.com</a> with the word “Unsubscribe” in the subject line
        <div class="yj6qo"></div>
        <div class="adL"></div>
      </div>
      
    </p>
  </td>
</tr>