<!DOCTYPE html>
<html>
<head>
	<title>Thank you for your Feedback </title>
</head>
<body>
<p>
	Dear,
	<br>
	<%= @name%>
</p>
<p>
	Thank you for your feedback, we will respond you with in 24 hours.
</p>
</body>
</html>