#reAllocateResourceModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog.pop-lrg
    .modal-content
      .color-line
      .modal-header
        %span.fr.clse_pop{"aria-hidden" => "true", "data-dismiss" => "modal"}
          %i.fal.fa-times.fa-2x
        %h4.modal-title
          %span.fal.fa-object-ungroup
          Re-Allocate Resource
      #reallocate-resource-div