#editProjectJobModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "projectJobModalLabel", role: "dialog", tabindex: "-1", :style => "overflow-y:scroll;"}
  .modal-dialog.modal-lg#edit_project_job_detail