- @project_job_groups.each do |p|
  %li{style:"cursor:pointer;list-style:none", onclick:"update_job_group_in_job_details('#{params[:project_job_id]}', '#{p.id}');", title: p.name}
    = p.name.truncate(20)
  %li.divider