-if user_signed_in?
  #timeLogModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.cmn_new_popup_form.modal-lg
      .modal-content
        .color-line
        #form_content_time_log

                  
                




