/=javascript_include_tag "bootstrap-formhelpers-phone.js"
#orgModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", :style => "overflow-y: scroll;"}
  .modal-dialog.new_form_layout{:style => "width:60%;"}
    .modal-content
      .color-line
      .modal-header.header_icon
        %span.fr{"aria-hidden" => "true", type: "button", "data-dismiss" => "modal"}
          %i.fal.fa-times.fa-2x
        %h4.modal-title{style: "display:inline-block;"} 
          %span.fal.fa-university 
          ADD A NEW COMPANY
      .modal-body
        #org_msg_div{:style=>"color:red"} 
        
        %form#new-org.cmn_new_popup_form{action: "/create_org",method: 'post',enctype: 'multipart/form-data', name: 'contact'}
          %input{:type=>'hidden',:id=>'chk_con_type',:name=> 'chk_con_type',:value=> 'individual'}
          %input{:type=>'hidden',:id=>'is_edit_contact',:name=> 'is_edit_contact'}
          %input{:type=>'hidden',:id=>'contact_referrer',:name=> 'contact_referrer', :value => ''}
          %input{:type=>'hidden',:id=>'referring_individual_contact',:name=> 'referring_individual_contact', :value => ''}
          %input{:type=>'hidden',:id=>'secondary_company',:name=> 'secondary_company', :value => 'false'}
          %p{style: "margin-bottom:10px"} 
          .individual_added_info_div
            %p{style: "margin-bottom:10px"}
            
            .row
              .form-group.col-md-6.padrht
                .input-group
                  .input-group-addon
                    %span.fal.fa-building
                  %input#first_name.inp_txt{name: 'name',type: 'text', value: '', required: 'true',onkeyup: 'return onlycharacternumberscommadotsquote(event)', onkeydown: 'return onlycharacternumberscommadotsquote(event)',onblur: "this.value = jQuery.trim((this.value).replace(/^\s*/g,''))", :class=>"form-control", placeholder: "Company Name*"}
              .form-group.col-md-6.padlft
                .input-group
                  .input-group-addon
                    %span.fal.fa-envelope
                  %input#last_name.inp_txt{name: 'email',type: 'text', value: '', :class=>"form-control", placeholder: "Company Email"}
            .row
              .form-group.col-md-6.padrht
                .input-group
                  .input-group-addon
                    %span#ogextension_for_contact +1
                  = text_field_tag :work_phone,'', :id=>'work_phone',:value=>'', :class => 'bfh-phone form-control','data-format'=>' (ddd) ddd dddd dddd', :onblur => "this.value = jQuery.trim((this.value).replace(/^\s*/g,''))",:onclick =>"this.value = jQuery.trim((this.value).replace(/^\s*/g,''))",placeholder: "Company Phone"
                
              .form-group.col-md-6.padlft
                .input-group
                  .input-group-addon
                    %span.fal.fa-browser
                  %input#website.inp_txt{name: 'website', class: 'form-control',type: 'text', value: '', placeholder: "Website"}
            .row
              .form-group.col-md-6.padrht
                - @coun = Country.all
                .input-group
                  .input-group-addon
                    %span.fal.fa-flag
                  = select_tag 'country', options_from_collection_for_select(@coun, 'id', 'name'), :prompt => "- Select your country -", :onchange => "ogprefill_extension(this.value,'ogextension_for_contact','extension_contact_popup');get_country_states_org(this.value,'orgstate');", :class=>"form-control js-source-states"
              .form-group.col-md-6.padlft
                .input-group
                  .input-group-addon
                    %span.fal.fa-flag
                  = select_tag 'orgstate', nil, :prompt => "- Select your state -", :class=>"form-control js-source-states"
            .row
              .form-group.col-md-6.padrht
                .input-group
                  .input-group-addon
                    %span.fal.fa-flag
                  %input#city.inp_txt{name: 'city',type: 'text', value: '', :class=>"form-control", placeholder: "City"}
              .form-group.col-md-6.padlft
                - @cn = CompanyStrength.all
                - @cn.last.range = "1000 & more"
                .input-group
                  .input-group-addon
                    %span.fal.fa-users
                  = select_tag 'company_strength', options_from_collection_for_select(@cn, 'id', 'range'), :prompt => '- Select Company size -',:class=>"form-control"

           

          .form-layout-footer
            %button.btn.btn-info.org_submit_btn{type: 'submit',:id=>'contact_submit_btn'} Save
            %a.btn.btn-default{href:'#', 'aria-hidden' => 'true', 'data-dismiss' => 'modal'} Cancel

#output_contact
:javascript
  $( ".custom-frm-inner" ).click(function() {
    $(this).parent().next('.control-label').addClass("control-lbl-add")
  });
  $( ".custom-frm-inner" ).focusout(function() {
    if($(this).val() == ""){
      $(this).parent().next('.control-label').removeClass("control-lbl-add")
    }else{
      $(this).parent().next('.control-label').addClass("control-lbl-add-txt")
    }
  });

  $("#company_value").keypress(function() {
  $('#company_value').addClass('loadinggif');
   setTimeout(hidecontactload, 510);
  });
  function hidecontactload()
  {
    $('#company_value').removeClass('loadinggif');
  }
  $('#contactModal').on('show.bs.modal', function (e) {
    $('#contact-alert-msg').hide();
  });
  function display_company_div(type){    
    if(type == "show"){
      $('.company_added_info_div').show();
      $('.individual_added_info_div').hide();
      $("#chk_con_type").val("company")
      $("#email_err_ind").hide();
      $("#email_err_ind").html('');
      $("#email_err_con").hide();
      $("#email_err_con").html('');
      $("#company_name").attr("required",true);
      $("#company_email").attr("required",true);
      $("#first_name").removeAttr("required");
      $("#email").removeAttr("required");
    }else{
      $("#chk_con_type").val("individual")
      $("#email_err_con").hide();
      $("#email_err_con").html('');
      $("#email_err_ind").hide();
      $("#email_err_ind").html('');
      $('.company_added_info_div').hide();
      $('.individual_added_info_div').show();
      $("#company_name").removeAttr("required");
      $("#company_email").removeAttr("required");
      
      $("#first_name").attr("required", true);
      $("#email").attr("required", true);
    }
      
      $("#company_name").val('');
      $("#company_email").val('');
      $("#company_strength").val('');
      $("#website").val('');
      $("#first_name").val('');
      $("#email").val('');
      $("#company_value").val('');
      $("#position").val('');
      $("#company_value").val('');
      $("#country").val('');
      $("#work_phone").val('');
      $( "#country" ).keyup();
      
    
    
  }
  $(window).on('load', function () {
    display_company_div("hide")
    $('form input[type="text"].bfh-phone, form input[type="phone"].bfh-phone, span.bfh-phone').each(function () {
      var $phone = $(this);
      $phone.bfhphone($phone.data());
    });
  });
  // prepare the form when the DOM is ready 
  $(document).ready(function() { 
    var options = { 
        target:        '#output_contact',   // target element(s) to be updated with server response 
        beforeSubmit:  showRequest_contact,  // pre-submit callback 
        success:       showResponse_contact // post-submit callback 
        //data: { key1: 'value1', key2: 'value2' }
        // other available options: 
        //url:       url         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        //clearForm: true        // clear all form fields after successful submit 
        //resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        //timeout:   3000 
    }; 
 
    // bind to the form's submit event 
    $('#new-org').submit(function() { 
        //formValidation();
        // inside event callbacks 'this' is the DOM element so we first 
        // wrap it in a jQuery object and then invoke ajaxSubmit 
        $(this).ajaxSubmit(options); 
 
        // !!! Important !!! 
        // always return false to prevent standard browser submit and page navigation 
        return false; 
    }); 
  }); 
 
  // pre-submit callback 
  function showRequest_contact(formData, jqForm, options) {
    var queryString = $.param(formData);
    $('.org_submit_btn').prop("disabled", true).html("Please wait...");
    if($('#is_edit_contact').val() == "false")
      $('#contact_submit_btn').prop("disabled", true).html("Please wait...");
    //else
    //  $('#contact_submit_more').prop("disabled", true).html("Please wait...");
    return true; 
  } 
 
  // post-submit callback
  function showResponse_contact(responseText, statusText, xhr, $form)  {
    $("#org_msg_div").text("");
    if(responseText == "save"){
      $('#orgModal').modal('hide');
      window.location.href = "/list_companies";
      show_alert_message('success',"Company added successfully.");
    }
    else if(responseText == "Email"){
        $("#org-alert-msg").show();
        $("#org_msg_div").show().text("Email id already exist!");
    }else if(responseText == "Phone"){
      $("#org-alert-msg").show();
      $("#org_msg_div").show().text("Phone no already exist!");
    }else if(responseText.status == "success")
    {
      $('#orgModal').modal('hide');
      addMoreCompany(responseText.company_json_data)
    }
    else{
      $("#contactModal").modal('hide');
      if($('#ref_page_info').val() == "contactsindex"){
        window.location.reload();
      }else{
        if(responseText.id != "" && responseText.id != undefined){
          // show_alert_message("success", "Contact added successfully");
          window.location.href = "/contact/"+responseText.id;
        }else{
          show_alert_message("success", responseText);
        }
      }
      // var selectedVal = "";
      // var selected = $("#radio_button input[type='radio']:checked");
      // if (selected.length > 0) {
      //     selectedVal = selected.val();
      // }
      // if(selectedVal == "individual")
      //   window.location.href = "/edit_individual_contact/"+responseText;
      // else if(selectedVal == "company")
      //   window.location.href = "/edit_company_contact/"+responseText+"?type=company";
    }
    $('.org_submit_btn').removeAttr("disabled").html("Save");
    $('#contact_submit_btn').removeAttr("disabled").html("Save");
    $('#new-contact')[0].reset();
  } 

   
  function onSelectedTask($e,datum){
    console.log("autocompleted");
    console.log(datum);
           
    $('#company_id').val(datum.id);
    //hfield.value = datum.id;
  }
  function onOpened($e){
    $("#company_id").val("")
    $("#text_loader").hide()
  }
  
  
  function onClosed($e){
    if($("#company_id").val() == ""){
      $("#company_name").val("");
    }
  }
  

  $( ".cont_submit_btn" ).click(function( event ) {
    var website = $("#website").val().trim();
    if( (website != "") && (website.indexOf("http:\/\/") < 0) && (website.indexOf("https:\/\/") < 0) && ( website.indexOf("www.") < 0) ){
      alert("Invalid website format");
      event.preventDefault();
    }
  });
  validate_email_field();
  $('#company_strength').on('change', function() {
    var comp_name = $("#company_value").val();
    var comp_strength = this.value;
    if(comp_name == "" && comp_strength != ""){
      $("#company_value").prop("required", "true");
      return false;
    }else{
      $("#company_value").removeAttr("required");
      return true;
    }
  })
  $('#company_value').keyup(function(e){
    var comp_name = "";
    var comp_strength = $("#company_strength").val();
    if(e.keyCode == 8 || e.keyCode == 46){
      comp_name = $(this).val()
    }
    else{
      comp_name = $(this).val()
    }
    if(comp_name == "" && comp_strength != ""){
      $("#company_value").prop("required", "true");
      return false;
    }else{
      $("#company_value").removeAttr("required");
      return true;
    }
  });
 