:css
  body{background: #fff;}
.body_container
  .about_us_page
    .wrapper
      .about_cnt
        %h1 About Us
        %p
          We understand the complexity involved in sales process. Now you can streamline your sales activities and improve your productivity through our simple and easy-to-use CRM. WakeUpSales helps business to create powerful customer relationships. Try this for Free, one of the most innovative and affordable CRM solution available in the market !
        %p
          WakeUpSales gives an eagle's-eye view on the productivity and progress of your sales team.
        %p
          In no time WakeUpSales attracted small and medium businesses from an array of diverse industries, not limited just to software/consultant firm.
        %p
          We are providing any kind of customization and installation support on your premise.
        %p
          We took the good feedbacks as appreciation and the bad feedbacks as lessons. We learned a lot over the period and trying to make it really powerful.