:css
  body{background:#fff;}
.body_container
  .awards_and_recognitions_page
    .wrapper
      .heading  
        %h1
          Awards & Recognitions: Drive us to do better, every day.
        %p
          At Wakeupsales, we aim to make it a great place to work and interact with our Customers and Employees. We make sure – Wakeupsales solves user’s issues from the root and saves their precious time in doing rather better things for their business. Thanks for all the recognition, thanks for your love. We strive to do even better.
      .cb
      .sec_top{style: "border-bottom:none"}
        .col-md-3.col-sm-3.col-sx-12
          .finance_online  
            %a{href: "http://www.accuratereviews.com/best-crm-reviews-list/", target: "_blank"} 
              %img{:alt => "Accurate Reviews", :height => "", :src => "/assets/new-ui/accurate_review_logo.png", :width => "", title: "Accurate Reviews"}
        .col-md-4.col-sm-4.col-sx-12{style: "font-size: 14px;"}
          Accurate Reviews is a popular software & application review platform. And we're honoured to be ranked as the #1 CRM Software in 2017. With an overall rating of 8.4/10 we're on top in our very first year; ahead of all the big names of the industry. 
        .col-md-5.col-sm-5.col-sx-12
          .accurate_review_img
            %span.accurate_review_ranking
              .w_logo
                %img{:alt => "image", :height => "", :src => "/assets/new-ui/w-logo.png", :width => ""}
              %img{:alt => "Accurate Reviews", :height => "", :src => "/assets/new-ui/accurate_review_ranking.png", :width => "", title: "Top CRM Tool 2017"}
        .cb
      .cb
      .sec_top
        .col-md-3.col-sm-3.col-sx-12
          .finance_online  
            %a{href: "https://reviews.financesonline.com/p/wakeupsales/#review", target: "_blank"} 
              %img{:alt => "Finances Online", :height => "", :src => "/assets/new-ui/finance_online_logo.png", :width => "", title: "Finances Online"}
        .col-md-4.col-sm-4.col-sx-12{style: "font-size: 14px;"}
          Finances Online is an independent software review 
          platform and it’s our pleasure that they have ranked 
          Wakeupsales with two prestigious awards: “Rising Star 2017” & 
          “Great User Experience 2017”… and of course more to come.
        .col-md-5.col-sm-5.col-sx-12
          .col-md-6.col-sm-12.col-sx-12.padlft
            %span.rising_star
              .w_logo
                %img{:alt => "image", :height => "", :src => "/assets/new-ui/w-logo.png", :width => ""}
              %img{:alt => "2017 Raising Star", :height => "", :src => "/assets/new-ui/rising_star.png", :width => "", title: "2017 Raising Star"}
          .col-md-6.col-sm-12.col-sx-12.padlft
            %span.rising_star
              .w_logo
                %img{:alt => "image", :height => "", :src => "/assets/new-ui/w-logo.png", :width => ""}
              %img{:alt => "Great User Experience", :height => "", :src => "/assets/new-ui/user_experience.png", :width => "", title: "Great User Experience"}
          .cb
        .cb
      .cb
      .image_sec
        .col-md-3.col-sm-6.col-xs-12
          .image_box
            %a{href: "https://www.g2crowd.com/products/andolasoft-wakeupsales/reviews", target: "_blank"}  
              %img{:alt => "WakeUpSales CRM Tool at G2crowd", :height => "", :src => "/assets/new-ui/crowd.png", :width => "", title: "WakeUpSales CRM Tool at G2crowd"}
        .col-md-3.col-sm-6.col-xs-12
          .image_box
            %a{href: "http://www.capterra.com/customer-relationship-management-software/spotlight/153054/WakeUpSales/Andolasoft", target: "_blank"}    
              %img{:alt => "WakeUpSales CRM Tool at Capterra", :height => "", :src => "/assets/new-ui/capture.png", :width => "", title: "WakeUpSales CRM Tool at Capterra"}
        .col-md-3.col-sm-6.col-xs-12
          .image_box
            %a{href: "https://www.f6s.com/wakeupsales", target: "_blank"}    
              %img{:alt => "WakeUpSales CRM Tool at F6s", :height => "", :src => "/assets/new-ui/f6s.png", :width => "",title: "WakeUpSales CRM Tool at F6s"}
        .col-md-3.col-sm-6.col-xs-12
          .image_box
            %a{href: "http://www.saasgenius.com/program/crm-software/wakeupsales", target: "_blank"}    
              %img{:alt => "WakeUpSales CRM Tool at SaaS Genius", :height => "", :src => "/assets/new-ui/saas-genious.png", :width => "",style: "width: 90%;margin: 6px;", title: "WakeUpSales CRM Tool at SaaS Genius"}
        .cb
= render partial:"common_sign_up_form"

