<link rel="stylesheet" type="text/css" href="/assets/org_pages.css">
<style type="text/css">
	.setup-cus-banner{background:url(/assets/org_page/customized-banner2.png) no-repeat;height:400px;text-align: center;padding-bottom: 30px;background-position: center 88%;background-size: 68% auto;}
    .setup-cus-banner p{text-transform: uppercase;font-size: 32px;color: #333333;margin: 0px;padding: 0px;padding-top: 30px;}
    .setup-cus-banner h1 {font-size: 20px;text-transform: capitalize;color: #939598;margin: 0px;margin-top: 7px;}
    .wakeupsales-main-content p{padding:0px;}
    .step-guid-head{background:#485665;color:#fff;padding:15px;width:100%;}
    .cnt_all_osc > ol > li{list-style-type:disc}
    .cnt_all_osc.active.fl.lft_cnt_ig{padding: 20px;box-sizing: border-box;}
    .contact-support h5{font-size: 30px;margin-bottom: 10px}
    .dwnld-btn{font-size: 20px;color: #428FD0;border-radius: 5px;display: inline-block;font-weight: 500;padding: 5px 10px;line-height: 25px;width: 290px;text-decoration: none;text-align: center;text-transform: uppercase;cursor: pointer;}
	.dwnld-btn:hover{text-decoration: underline;color: #428FD0;}
	.wakeupsales-main-content{margin-bottom: 20px !important}
	.docker-toolbox-div img{width:100%;}
	.docker-integration-img{text-align: center;}
</style>
<div class="top_mid_bg_shadow1">
    <div class="mid_content">
        <div class="top_mc_img_con">
            <div class="setup-cus-banner">
                <p>Customize your WakeUpSales</p>
                <h1>Just the way you want it.</h1>
            </div>
            <div class="cb"></div>
        </div>
        <div class="cb"></div>
        <div class="step-guid-head">
            <h1>Guide to customize WakeupSales Open Source Edition</h1>
        </div>
    </div> 
    <div class="wakeupsales-main-content">
        <div>
            <div class="cnt_all_osc active fl lft_cnt_ig">
                <p class="heading-paragraph">How to Customize the dashboard page content</p>
                <p style="font-size:16px;margin-bottom:10px;">We can customize our dashboard page contents by following below steps.</p>
                <ol class="margin_left_30">
                    <li style="list-style:disc;">Go to the settings page. In settings page there is a left side bar with links.</li>
                    <li style="list-style:disc;">Click on Widgets link. it will display the below screen.</li>
                </ol>
                <br><br>
                <div class="customization-image"><img src="/assets/org_page/settings_widgets.png"></div>
                <br><br>
                <p style="font-size:16px;margin-bottom:10px;">You can uncheck any item which you want to hide from dashboard page.</p>
                <p class="heading-paragraph">How to Customize Leads Listing</p>
                <p style="font-size:16px;margin-bottom:10px;">We can customize our leads listing tabs, Below are the steps.</p>
                <ol class="margin_left_30">
                    <li style="list-style:disc;">Go to Leads Listing page.</li>
                    <li style="list-style:disc;">
                        Click on the  right most “+” tab where we can customize our deals listing.
                        <br><br>
                        <div class="customization-image"><img src="/assets/org_page/Add-tab.png"></div>
                    </li>
                    <li style="list-style:disc;">
                        After clicking on “+” tab one popup will come with all leads stages. If you want to add new tabs, or remove one existing tab just check or uncheck the stages finally click on save button. The tab will be change. Below is the screenshot of the popup.
                        <br><br>
                        <div class="customization-image"><img src="/assets/org_page/tab-popup.png"></div>
                    </li>
                </ol>
            </div>
            <div class="cb"></div>
        </div>
    </div>
</div>
<div class="contact-support">
    <h5>Encounter Any Installation Issues?</h5>
    <a href="/contact-us" class="dwnld-btn contact-team">Contact Tech Support</a>
</div>