:css
  body{background: #fff;}
.roadmap_page  
  .top_mid_bg_shadow1
    .mid_content
      .step-guid-head
        .banner-image.roadmap-banner
    .roadmap_table_cntr
      .wrap_osc_ig.wkps-wraprer{:style => "text-align:center;"}
        .cnt_all_osc.active.table-roadmap
          %table.tbl
            %tbody.tbd
              %tr.ttr
                %th.tth Plan & Update
                %th.tth 
                  %span Release Dates
                %th.tth Status
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li Website Integration (premium feature)
                %td.ttd Apr 2017
                / %td.ttd.released Released & Live
                %td.ttd Coming soon
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li Gmail Integration (premium feature)
                %td.ttd Apr 2017
                %td.ttd Coming soon
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li Invoice Management (premium feature)
                %td.ttd Mar 2017 
                %td.ttd.live Live
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li Amazon SES Integration (premium feature)
                %td.ttd Mar 2017
                %td.ttd.live Live
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li SendGrid Integration (premium feature)
                %td.ttd Mar 2017
                %td.ttd.live Live
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li New UI (Wakeupsales Application Look & Feel)
                %td.ttd Jan 2017
                %td.ttd.live Live
              / %tr.ttr
              /   %td.ttd 
              /     .fnu-icon.new-icon{title: "New"}
              /   %td.ttd
              /     %ul.nolist
              /       %li Issue Tracker
              /   %td.ttd March 2017
              /   %td.ttd Coming soon
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li Lead Event Tracking (premium feature) 
                %td.ttd Apr 2017
                %td.ttd Coming soon
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li Lead Project Management (premium feature) 
                %td.ttd Apr 2017
                %td.ttd Coming soon
              %tr.ttr
                %td.ttd 
                  %ul.nolist
                    %li Email Tracking  (premium feature) 
                %td.ttd May 2017
                %td.ttd Coming soon
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li MailChimp Integration (premium feature) 
                %td.ttd May 2017
                %td.ttd Coming soon
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li Multi-language Support (for Spanish)
                %td.ttd July 207
                %td.ttd Planned


              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li Mobile App for Android  
                %td.ttd Jan 2018
                %td.ttd Planned
              / %tr.ttr
              /   %td.ttd 
              /     .fnu-icon.new-icon{title: "New"}
              /   %td.ttd
              /     %ul.nolist
              /       %li Segment integration
              /   %td.ttd January 2017
              /   %td.ttd Coming soon
              
              %tr.ttr
                %td.ttd
                  %ul.nolist
                    %li Mobile App for iOS
                %td.ttd Jan 2018
                %td.ttd Planned
        .cb
    
    %p.star_desc * The dates are tentative & might change if necessary.