:css
  body{background: #fff;}
.sitemap_page  
  .top_mid_bg_shadow1
    .mid_content
      .step-guid-head
        .banner-image.sitemap_banner
          %h1 Sitemap
  .sitemap_container
    .col-md-7
      %ul
        %li
          %a{href: "/"} Home
        %li
          %a{href: "/about-us"} About Us
        %li
          %a{href: "/users/sign-up"} Sign Up
        %li
          %a{href: "/users/sign-in"} Sign In
        %li
          %a{href: "/contact-us"} Support
        %li
          %a{href: "/features"} Features
        %li
          %a{href: "/pricing"} Pricing
        %li
          %a{href: "/security"} Security
        %li
          %a{href: "http://helpdesk.wakeupsales.com/"} Help Desk
        %li
          %a{href: "http://blog.wakeupsales.com/"} Blog
        %li
          %a{href: "/how-it-works"} How It Works
          
          
    .col-md-5
      %ul
        %li
          %a{href: "/integrations"} Integrations
        %li
          %a{href: "/pricing"} FAQs
        %li
          %a{href: "/awards-and-recognitions"} Awards & Recognitions
        %li
          %a{href: "/report-a-bug"} Report a Bug
        %li
          %a{href: "/roadmap"} Roadmap
        %li
          %a{href: "/product-updates"} Product Updates
        %li
          %a{href: "/terms"} Terms of Service
        %li
          %a{href: "/privacy"} Privacy Policy
        %li
          %a{href: "/success-story"} Success Story
        %li.sub_point
          %a{href: "/success-story-ajay"} Success Story Ajay
    .cb

