.panel-heading.hbuilt
  %h4.fl
    Manage Task Type
  .btn.btn-primary.btn-success.fr{ data: { toggle: "modal", target: "#addTaskType" }}
    .glyphicon.glyphicon-plus-sign
    Add Task Type
  .cb
.panel-body
  .tasks
    - current_user.organization.task_types.each do |task_types|
      %div{style: "margin-bottom: 15px;background-color: #eee;border-radius: 5px;border: 1px solid rgb(153, 153, 153);padding: 10px 5px;height: 40px;cursor: pointer", id: "task_type_#{task_types.id}"}
        .fl.task_type_name
          = task_types.name
        .fr
          %span.glyphicon.glyphicon-pencil{value: "#{task_types.id}", data: { toggle: "modal", target: "#editTaskType", id: task_types.id, :name => task_types.name }}
          %span.glyphicon.glyphicon-trash{value: "#{task_types.id}", onclick: "deleteTaskType(this)", title: "Delete", data: { id: task_types.id }}