%li.arrow_right{style: "left: 114px;top: 0;"}
.all_lead  
  - @deals.each do |lead|
    %li{onclick: "filterFilesByLead(#{lead.id})", title: "#{lead.title}"}
      %a{href: "javascript:void(0)"}
        = lead.title.truncate(15)
    %li.divider

:javascript
  function filterFilesByLead(id){
    $("#task_loader").show();
    $.ajax({
    url: '/filter_files_by_lead',
      type: 'POST',
      data: {id: id},
      success: function(res) {
        $(".files_wrapper").html(res);
        $(".show_file_filter").show();
        $(".show_file_filter .filter_name").html($("#lead_title").val());
        $('li.dropdown.mega-dropdown').removeClass('open');
        $("#task_loader").hide();
      },
      error: function(res) {
        alert("Error Found.!!!");
        $("#task_loader").hide();
      }
    });
  }