<html>
  <head>
    <title>Confirmation</title>
  </head>
  <body leftmargin="0" marginheight="0" marginwidth="0" offset="0" style="font-family:'Trebuchet MS'; font-size:13px; color:#666" topmargin="0">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#f3f3f3; width:750px;padding-top:10px;">
      <tr>
        <td>
          <table align="center" border="0" cellpadding="10" cellspacing="0" style="width:640px">
            <tr>
              <td bgcolor="#1584d3" height="50">
                <img src="<%=APP_CONFIG["host_url"]%>/assets/new_logo.png"/>
              </td>
            </tr>
            <tr>
              <td style="border:1px solid #dfdfdf; background-color:#ffffff; font-size:13px; font-family:Trebuchet MS, tahoma, verdana; color:#666666;">
                <p>
                 Hi&nbsp;<%= @resource.email %>,
                </p>
                <p >
                  Someone has requested a link to change your password, and you can do this through the link below.
                </p>
				
                <p>
				  <div style="border:none;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;background:#0EA426;font-weight:bold;margin-top:20px;padding:8px 0;width:100%;text-align:center;">
            <a href="<%=edit_password_url(@resource, :reset_password_token => @token)%>" target="_blank" style="cursor:pointer;text-decoration: none;color:#FFFFFF;">
                Change my password
              </a>
			    </div>
				 
				 </p>
				
				<br>
				<p>
				  If you didn't request this, please ignore this email.<br/>
                  Your password won't change until you access the link above and create a new one.
				</p>
                <div style="clear:both;height:5px"></div>
              </td>
            </tr>
            <%=render :partial=>"/notification/email_footer"%>
          </table>
        </td>
      </tr>
      
      <tr>
        <td height="20px"></td>
      </tr>
    </table>
  </body>
</html>
