:css
  body {font-family: "Arial", "Arial Regular", "Arial Bold";background: #fcfcfc;}
  .web_form_thank_you_page .img_cntr { width:130px;height:130px;margin: 0 auto; }
  .web_form_thank_you_page .img_cntr img { width:100%; }
  .top_sec h1 { text-align: center;font-size:35px;color:#333 }
  .top_sec h2 { text-align: center;font-size:25px;color:#777;font-weight: normal; }
  .top_sec {padding-bottom: 40px;border-bottom: 1px solid #999;margin-top: 50px;}
  .bottom_sec p {text-align:center;color:#777;margin-top: 0;}
  .bottom_sec {margin-top: 40px;}
  .link_sec{ 
    width:200px;height:60px;margin:0 auto}
  .link_sec img { width:100% }
.web_form_thank_you_page
  .top_sec
    .img_cntr
      %img{src: "/assets/new-ui/panda_icon.png"}
    %h1
      Thanks a ton for getting in touch!
    %h2
      We'll get back to you as soon as we can.
  .bottom_sec
    %p
      Powered by
    .link_sec
      %a{href: "/"}
        %img{src: "/assets/new-ui/wus-all-in-one.png"}
    %p The #1 Ranked CRM for 2017