!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet"}
  %head
    /= stylesheet_link_tag "/var/www/html/wakeupsales_UI/app/assets/stylesheets/wakeupsales.css"
  
  %body
    = yield